
@tailwind base; 
@tailwind components;
@tailwind utilities;





/* Contenedor del header */
.app-container {
    display: flex; /* Habilita Flexbox */
    height: 100vh; /* Asegura que ocupe toda la ventana */
    
  }



/* Card de Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background: linear-gradient(135deg, #072A47, #3E5D7B); /* Degradado suave de azul */
    padding: 15px 30px; /* Más padding lateral para un toque más espacioso */
    color: white;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease; /* Transición suave para efectos hover */
}

/*Letra de header */
.header h1 {
    margin: 0;
    font-size: 30px;
    font-family: '', sans-serif; /* Tipografía moderna */
}

/*Boton del header*/
.header button {
    margin: 5px;
    padding: 10px 20px; /* Botón más grande */
    font-size: 16px;
    background-color: rgba(10, 44, 71, 0.8); /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px; /* Bordes redondeados en el botón */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/*Hover del boton del header*/
.header button:hover {
    background-color: rgba(26, 82, 118, 0.9); /* Efecto hover de color más oscuro */
    transform: translateY(-2px); /* Sutil efecto de elevar el botón */
}

/*Separar header de la tabla*/
.content{
    padding: 15px;
    height: 85vh;
    overflow-y: scroll;
   
}

/* Scroll completamente invisible */
.content::-webkit-scrollbar {
    width: 0; /* Elimina la visibilidad del scrollbar */
    background-color: transparent;
}





/* MODALES */

/* Contenedor del modal */
.modal-container {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.4);  /* Fondo más opaco para un mejor contraste */
    border-radius: 20px;  /* Bordes redondeados más suaves */
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);  /* Sombra más difusa y sutil */
    backdrop-filter: blur(15px);  /* Menos desenfoque para no perder tanto el fondo */
    border: none;
    
}

/* Título del modal */
.modal-container h1 {
    font-size: 28px;  /* Un tamaño un poco más grande */
    font-weight: 700;  /* Mayor peso para resaltar el título */
    color: #333;  /* Color más oscuro para un mejor contraste */
    margin-bottom: 20px;  /* Espaciado inferior cómodo */
    text-align: center;  /* Centrado para mayor simetría */
}

/* Estilo de botones */
.buttons {
    margin-top: 30px;  /* Más espacio para separar botones de la parte superior */
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

/* Estilo de los botones dentro de la sección */
.buttons button {
    border-radius: 10px;  /* Bordes más redondeados */
    padding: 14px 30px;  /* Botones más grandes para mejor interacción */
    font-size: 16px;  /* Tamaño cómodo para la lectura */
    font-weight: 600;
    transition: all 0.3s ease;  /* Transición suave para los botones */
    border: none;
    color: #fff;  /* Texto blanco por defecto */
}

/* Hover en botones */
.buttons button:hover {
    background-color: rgba(26, 82, 118, 0.9);  /* Color al pasar el ratón */
    transform: translateY(-2px);  /* Efecto de elevación */
}

/* Estilo del input */
input[type="text"], select {
    border-radius: 10px;  /* Bordes redondeados para mayor uniformidad */
    padding: 14px 18px;  /* Más espacio dentro de los inputs */
    width: 100%;  /* Asegura que el input ocupe el 100% del ancho */
    border: 1px solid #ddd;  /* Borde suave */
    margin-bottom: 20px;  /* Espaciado más grande para mejor separación */
    background-color: rgba(255, 255, 255, 0.6);  /* Fondo translúcido más claro */
}

/* Estilo del input en focus */
input[type="text"]:focus, select:focus {
    border-color: #007bff;  /* Borde azul al enfocar */
    outline: none;  /* Eliminar el contorno predeterminado */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);  /* Sombra suave azul */
}

/* Estilo del modal cuando el fondo es transparente */
.MuiModal-root {
    background-color: rgba(0, 0, 0, 0.5);  /* Fondo oscuro y más opaco para dar contraste */
}



/* Media Queries */
@media screen and (max-width: 1360px) {
    .sidebar {
        width: 250px; 
    }

    .main-content {
        padding: 1rem; 
        
    }

    .header h1 {
        font-size: 24px; 
    }

    .form {
        height: 75vh; 
    }

    .modal-container {
        padding: 10px; 
    }

    .modal-container h1 {
        font-size: 18px; 
    }

    .content {
        height: 75vh; 
    }
}

@media screen and (max-width: 1024px) {
    .sidebar {
        width: 200px; 
    }

    .header h1 {
        font-size: 20px; 
    }

    .form-content {
        padding: 20px; 
    }
}