@tailwind base;
@tailwind components;
@tailwind utilities;

/* Contenedor del header */
.app-container {
    display: flex;
    /* Habilita Flexbox */
    height: 100vh;
    /* Asegura que ocupe toda la ventana */

}

/* Card de Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background: linear-gradient(135deg, #072A47, #3E5D7B);
    /* Degradado suave de azul */
    padding: 15px 30px;
    /* Más padding lateral para un toque más espacioso */
    color: white;
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    transition: all 0.3s ease;
    /* Transición suave para efectos hover */
}




/*Letra de header */
.header h1 {
    margin: 0;
    font-size: 30px;
    font-family: '', sans-serif;
    /* Tipografía moderna */
}

/*Boton del header*/
.header button {
    margin: 5px;
    padding: 10px 20px;
    /* Botón más grande */
    font-size: 16px;
    background-color: rgba(10, 44, 71, 0.8);
    /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    /* Bordes redondeados en el botón */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/*Hover del boton del header*/
.header button:hover {
    background-color: rgba(26, 82, 118, 0.9);
    /* Efecto hover de color más oscuro */
    transform: translateY(-2px);
    /* Sutil efecto de elevar el botón */
}

/*Separar header de la tabla*/
.content {
    padding: 15px;
    height: 85vh;
    overflow-y: scroll;

}

/* Scroll completamente invisible */
.content::-webkit-scrollbar {
    width: 0;
    /* Elimina la visibilidad del scrollbar */
    background-color: transparent;
}

/* MODALES */
/* Contenedor del modal */
.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    border-radius: 12px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
    
}

/* Título del modal */
.modal-container h1 {
    font-size: 24px; /* Tamaño más pequeño para pantallas pequeñas */
    font-weight: 700;
    color: rgba(26, 82, 118, 0.9);
    margin-bottom: 15px; /* Menos margen para pantallas pequeñas */
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* Estilo de botones */
.buttons {
    margin-top: 20px; /* Menos margen para pantallas pequeñas */
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

/* Estilo de los botones dentro de la sección */
.buttons button {
    border-radius: 10px;
    padding: 10px 20px; /* Botones más pequeños para pantallas pequeñas */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    font-weight: 600;
    transition: all 0.3s ease;
    border: none;
    color: #fff;
    background-color: rgba(26, 82, 118, 0.9);
}

/* Hover en botones */
.buttons button:hover {
    background-color: rgba(17, 49, 83, 0.9);
    transform: translateY(-2px);
}

/* Estilo del input */
input[type="text"],
select {
    border-radius: 10px;
    padding: 10px 14px; /* Padding más pequeño para pantallas pequeñas */
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 15px; /* Menos margen para pantallas pequeñas */
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px; /* Tamaño de fuente más pequeño */
    color: rgba(26, 82, 118, 0.9);
}

/* Estilo del placeholder para asegurar visibilidad */
input[type="text"]::placeholder {
    color: rgba(26, 82, 118, 0.6);
    font-style: italic;
}

/* Estilo del input en focus */
input[type="text"]:focus,
select:focus {
    border-color: rgba(26, 82, 118, 0.9);
    outline: none;
    box-shadow: 0 0 5px rgba(26, 82, 118, 0.4);
}

/* Estilo del input type email */
input[type="email"],
select {
    border-radius: 10px;
    padding: 10px 14px; /* Padding más pequeño para pantallas pequeñas */
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 15px; /* Menos margen para pantallas pequeñas */
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px; /* Tamaño de fuente más pequeño */
    color: rgba(26, 82, 118, 0.9);
}

/* Estilo del placeholder para asegurar visibilidad */
input[type="email"]::placeholder {
    color: rgba(26, 82, 118, 0.6);
    font-style: italic;
}

/* Estilo del input en focus */
input[type="email"]:focus,
select:focus {
    border-color: rgba(26, 82, 118, 0.9);
    outline: none;
    box-shadow: 0 0 5px rgba(26, 82, 118, 0.4);
}

/* Estilo del input type password */
input[type="password"],
select {
    border-radius: 10px;
    padding: 10px 14px; /* Padding más pequeño para pantallas pequeñas */
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 15px; /* Menos margen para pantallas pequeñas */
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px; /* Tamaño de fuente más pequeño */
    color: rgba(26, 82, 118, 0.9);
}

/* Estilo del placeholder para asegurar visibilidad */
input[type="password"]::placeholder {
    color: rgba(26, 82, 118, 0.6);
    font-style: italic;
}

/* Estilo del input en focus */
input[type="password"]:focus,
select:focus {
    border-color: rgba(26, 82, 118, 0.9);
    outline: none;
    box-shadow: 0 0 5px rgba(26, 82, 118, 0.4);
}
/* Estilo del modal cuando el fondo es transparente */
.MuiModal-root {
    background-color: rgba(0, 0, 0, 0.5);
}





/* Media Queries */
@media screen and (max-width: 768px) {
    .modal-container {
        padding: 15px; /* Menos padding para pantallas pequeñas */
    }

    .modal-container h1 {
        font-size: 20px; /* Tamaño de fuente más pequeño */
    }

    .buttons button {
        padding: 8px 16px; /* Botones más pequeños */
        font-size: 12px; /* Tamaño de fuente más pequeño */
    }

    input[type="text"],
    select {
        padding: 8px 12px; /* Padding más pequeño */
        font-size: 12px; /* Tamaño de fuente más pequeño */
    }
}

/* Media Queries */
@media screen and (max-width: 1360px) {
    .sidebar {
        width: 250px;
    }

    .main-content {
        padding: 1rem;

    }

    .header h1 {
        font-size: 24px;
    }

    .form {
        height: 75vh;
    }
    

    .content {
        height: 75vh;
    }

    
}




@media screen and (max-width: 1024px) {
    .sidebar {
        width: 200px;
    }

    .header h1 {
        font-size: 20px;
    }

    .form-content {
        padding: 20px;
    }
}